{% extends 'base.html' %}

{% block title %}Super To Do | Organize your tasks!{% endblock %}

{% block content %}
<h1>Task List</h1>

<!-- Incomplete Tasks -->
{% if incomplete_tasks %}
    <h2>Incomplete Tasks</h2>
    <div class="row">
        {% for task in incomplete_tasks %}
            <div class="col-md-4 mb-3">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text">Complete by: {{ task.complete_before }}</p>
                        <a href="{% url 'tasks:task-detail' task.slug %}" class="btn btn-secondary">Details</a>
                        <a href="{% url 'tasks:edit-task' task.slug %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'tasks:delete-task' task.slug %}" class="btn btn-secondary">Delete</a>
                        <form method="post" action="{% url 'tasks:toggle-task' task.slug %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">
                                {% if task.done %}Mark as Incomplete{% else %}Mark as Completed{% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Animate to add one!</p>
{% endif %}

<!-- Completed Tasks -->
{% if show_completed and completed_tasks %}
    <h2>Completed Tasks</h2>
    <div class="row">
        {% for task in completed_tasks %}
            <div class="col-md-4 mb-3">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text">Completed on: {{ task.updated_at }}</p>
                        <a href="{% url 'tasks:task-detail' task.slug %}" class="btn btn-secondary">Details</a>
                        <a href="{% url 'tasks:edit-task' task.slug %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'tasks:delete-task' task.slug %}" class="btn btn-secondary">Delete</a>
                        <form method="post" action="{% url 'tasks:toggle-task' task.slug %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">
                                {% if task.done %}Mark as Incomplete{% else %}Mark as Completed{% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
