{% extends 'base.html' %}
{% load static %}

{% block title %}Task Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 style="color: black;">{{ task.name }}</h2>
        </div>
        <div class="card-body" style="color: black;">
            <p><strong>Description:</strong> {{ task.description }}</p>
            <p><strong>Complete by:</strong> {{ task.complete_before }}</p>
            <p><strong>Status:</strong> {% if task.done %}Completed{% else %}Pending{% endif %}</p>
        </div>
        <div class="card-footer text-right">
            <a href="{% url 'tasks:edit-task' task.slug %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'tasks:delete-task' task.slug %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
